.split-page {
  display: flex;
  height: 100vh;
  background: #f5efef;
}

.left-panel {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  background-color: #f7e0db;
}

.logo {
  width: 200px;
  height: auto;
  margin-top: 1em;
}

.campus-img {
  width: 80%;
  height: 60%;
  border-radius: 40px;
  margin-top: 0px;
  object-fit: cover; 
  object-position: 30% 70%;
  border-style: solid;
  border-width: 0.05cap;
  border-color: #135c25;
}

.right-panel {
  flex: 1;
  background: #135c25;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 1.3em;
  border-bottom: 4px solid #fff;
  display: inline-block;
  padding-bottom: 0.15em;
}

form {
  display: flex;
  flex-direction: column;
  width: 310px;
  gap: 0.8em;
}

form label {
  font-weight: bold;
}

form input {
  padding: 0.7em;
  border-radius: 6px;
  border: none;
  font-size: 1em;
}

.main-btn {
  margin-top: 1.2em;
  padding: 0.7em;
  background: #fff;
  color: #23403b;
  border-radius: 7px;
  border: none;
  font-weight: bold;
  font-size: 1.07em;
  cursor: pointer;
}

.switch-link {
  color: #fff;
  text-decoration: underline;
  margin-top: 2em;
  display: inline-block;
  font-weight: bold;
}
.switch-link:hover {
  color: #d1d1d1;
}